body {
    margin: 0;
    background-color: #121212;
    color: #f1f1f1;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    background-color: #1f1f1f;
    padding: 30px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 3em;
    color: #e94560;
    margin: 0;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    color: #e94560;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    position: relative;
}

nav a:hover {
    color: #f1c40f;
}

.container {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    color: #e94560;
    margin-bottom: 20px;
    text-align: center;
}

.history {
    margin-bottom: 80px;
    background-color: #1f1f1f;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.history1 {
    text-align: center;
    padding: 5px;
}

.menu {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu-item {
    background-color: #1e1e1e;
    border-radius: 10px;
    margin: 0 15px;
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item h3 {
    font-size: 1.5em;
    margin: 15px 0 10px;
    color: #f1c40f;
}

.menu-item p {
    margin: 0;
}

.menu-item span {
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #e94560;
}

.scroll-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.scroll-buttons button {
    background-color: #e94560;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
}

button:hover {
    background-color: #f1c40f;
}

.delivery {
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 40px;
}

a {
    text-decoration: none; 
    color: #e94560;
    transition: color 0.3s; 
}

a:hover {
    color: #f1c40f; 
}


footer {
    background-color: rgb(15, 15, 15);
    padding: 20px 10px;
    text-align: center;
}

footer .contacts {
    font-size: 1.2em;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #e94560;
    text-decoration: none;
}

footer a:hover {
    color: #f1c40f;
}